<!DOCTYPE html>
<!--THYMELEAF XMLNS-->
<html xmlns:th="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Ticket Form</title>
    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="/css/cover.css" rel="stylesheet" />
    <style>
        .fieldError{
            border: solid red 2px !important;
        }
    </style>
</head>
<body class="text-center">
<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header th:replace="fragments/navbar :: header">
    </header>

    <main role="main" class="inner cover">
        <div class="white-box">
            <h1 class="text-center">Ticket Form:</h1>
            <div th:if="${success != null}" class="alert alert-success">
                <h1 th:text="${success}" class="text-center"></h1>
            </div>
            <form th:method="${method}" th:object="${ticket}" th:action="${url}" >
                <div th:if="${#fields.hasAnyErrors()}" class="alert alert-danger">
                    <ul>
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
                    </ul>
                </div>
                <input th:if="${ticket != null}" type="hidden" name="id" th:value="${ticket?.id}" class="form-control" />
                <label>First Name:</label>
                <input type="text" name="firstName" th:value="${ticket?.firstName}" th:field="*{firstName}" th:class="${#fields.hasErrors('firstName')}? 'fieldError form-control' : 'form-control'" />
                <label>Last Name:</label>
                <input type="text" name="lastName" th:value="${ticket?.lastName}" th:field="*{lastName}" th:class="${#fields.hasErrors('lastName')}? 'fieldError form-control' : 'form-control'" />
                <label>Email:</label>
                <input type="email" name="email" th:value="${ticket?.email}" th:field="*{email}" th:class="${#fields.hasErrors('email')}? 'fieldError form-control' : 'form-control'" />
                <label>phone:</label>
                <input type="phone" name="phone" th:value="${ticket?.phone}" th:field="*{phone}" th:class="${#fields.hasErrors('phone')}? 'fieldError form-control' : 'form-control'" />
                <br/>
                <input type="submit" th:value="${method} == 'PUT' ? 'edit' : 'create' " class="form-control btn btn-success" />
            </form>
            <div th:if="${method == 'PUT'}">
                <form th:method="DELETE" th:action="@{/tickets/delete/}+${ticket.id}">
                    <input type="submit" value="Delete" class="form-control btn btn-danger" />
                </form>
            </div>
        </div>
    </main>

    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>Ticket.com 2018</p>
        </div>
    </footer>
</div>

<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/height.js"></script>

</body>
</html>